html {
    background-color: rgb(98, 125, 165);
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    color: black;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    
}

#welcomemessage {
    color: blue;
}


    
.blue {
    color: blue;
    border: 5px solid black;
    text-align: center;
    margin-left: 300px;
    margin-right: 250px;
}

.brown {
    color:brown;
}

.h2 {
    text-align: center;
    border: 3px solid black;
    margin-left: 350px;
    margin-right: 350px;
}

.textsize {
    text-align: center;
}

#red {
    border-radius: 50%;
    image-rendering: crisp-edges;
    margin-left: 200px;
}

.flex {
    padding-top: 50px;
    border: 5px solid black;
    display: flex;                      
    flex-wrap: wrap;                 
    justify-content: center; 
    height: 200px;
   width: 950px;
   background-color: rgb(163, 163, 17);
   margin: 20px 20px;
   margin-left: 10px;
}

.nav{
    margin-left: 250px;
    display: inline-block;
    height: 100px;
    width: 350px;
    background-color: khaki;
    border: 5px solid black;
    
    }

a{
    text-decoration-line: none;

}

.nav ul {
    justify-content: center;
    list-style: none;
    
}

@keyframes fade {
    0% {
        opacity: 1;
        25% {
            opacity: .5;
        }
        50% {
            opacity: 1;
        }

    }
    100% {
        opacity: .5;                               
    }
}
    #box1 {
        background-color: rgb(88, 7, 88);
        height: 50px;
        width: 50px;
        animation-name: fade;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
}

.nav-wrapper {
    background-color:green;

}
 
@keyframes rotate {
        0% {transform: rotate(45deg);}
        25% {transform: rotate(90deg);}
        50% {transform: rotate(180deg);}
        100% {transform: rotate(360deg);}
    }

    #box2 {
        margin-left: 25px;
        padding: 20px;
        height: 50px;
        width: 50px;
        animation-name: rotate;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        border-radius: 30%;
        background-image: radial-gradient(circle,blue, black,red, rgb(126, 126, 175));
    }

@keyframes getbigger {
    0% {transform: scale(.5);}
    25% {transform: scale(.5);}
    50% {transform: scale(1);}
    100% {transform: scale(.5);}
    }

    #box3 {
        margin-left: 25px;
        padding: 20px;
        height: 50px;
        width: 50px;
        animation: getbigger 2s 2s ease;
        border-radius: 50%;
        background-color: yellow;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    @keyframes changecolor {
        0% {background-color: grey;}
        25% {background-color: yellowgreen;}
        50% {background-color: green;}
        100% {background-color: orange;}
    }

    #box4 {
        margin-left: 25px;
        padding: 20px;
        height: 50px;
        width: 50px;
        animation: changecolor 2s 2s ease;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .outlinks {
        text-align: center;
        color: red;
    }

    .inlinks {
        color: saddlebrown;
        text-align: center;
    }

    #box{
        display: inline-block;
        
    }
  
  
  
  


  .form {
      text-align: center;
    margin-left: 150px;
    margin-right: 150px;


  }

  .wrapper {
    margin-left: 150px;
    display: inline-flex;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 100px ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: white;
    color: #444;
}

.Box {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    padding-top: 25px;
    background-color: lightseagreen;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

}

.a {
    
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(red, white, blue);
    
    
}
.b {
    grid-column: col 3 / span  3 ;
    grid-row: row ;
    background-image: radial-gradient(green, white, yellow);
}
     
.c  {      
    grid-column: col ;
    grid-row: row 2 ;
    background-image: radial-gradient(purple, white, orange);
    }


.d {
    grid-column: col 2 / span  3 ;
    grid-row: row 2 ;
    background-image: radial-gradient(cyan, white, pink);
}

.e {
    grid-column: col / span  5;
    grid-row: row 3;
    background-image: radial-gradient(orange, green, red);
}

.f {
    grid-column: col 3 / span 3;
    grid-row: row 2;
    z-index: 20;
    margin-right: 25px;
    background-image: radial-gradient(Blue, white, red);
}
  
      
      
      
  











































































